.contact {
  position: fixed;
  bottom: 10px;
  width: 100%;
  color: white;
}

.contact > span {
  background: linear-gradient(
    355.31deg,
    rgba(186, 118, 189, 0.46) 0.11%,
    rgba(128, 69, 137, 0.780876) 58.14%,
    #592365 97.77%
  );
  border-radius: 5px;
  padding: 4px 8px;
}

.contact > span:hover {
  color: #6d9c00;
  cursor: pointer;
}

.contact a {
  color: white;
}

.contact a:hover {
  color: #6d9c00;
  cursor: pointer;
}

.contact__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.contact__modal > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 15px 20px;
  background: linear-gradient(180deg, #5f2a6b 0%, #cdabce 100%);
  border-radius: 5px;
  text-align: center;
}

.contact__modal p {
  margin-bottom: 4px;
}

.contact__modal span {
  font-weight: bold;
}

.contact__modal .contact__btn {
  cursor: pointer;
  color: white;
}
