html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;

  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

hr {
  width: 100%;
}

button {
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(230, 230, 230);
}

button:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

.svg__bullet {
  fill: #fff !important;
}

#game-canvas {
  width: 100%;
  height: 100%;
}

#play-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#play-menu p {
  margin-bottom: 0;
}

#play-menu input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}

#play-menu input:hover {
  outline: none;
}

.play-menu__controls {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.play-menu__statistic {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#leaderboard {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-weight: bold;
  color: white;
  background: linear-gradient(355.31deg, rgba(186, 118, 189, 0.46) 0.11%, rgba(128, 69, 137, 0.780876) 58.14%, #592365 97.77%);
  border-radius: 5px;
}

#leaderboard th {
  text-align: center;
  padding: 2px 5px;
}

#leaderboard td {
  text-align: center;
  padding: 2px 5px;
}

#disconnect-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#disconnect-modal > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.experience {
  position: fixed;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px;
}

.experience .experience__score {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 350px;
  font-size: 20px;
}

.experience .experience__current {
  border: 1px solid rgba(0, 0, 0, .9);
  border-radius: 15px;
  width: 350px;
  height: 25px;
  display: flex;
  justify-content: center;
}

.experience p {
  font-weight: bold;
  color: #cccccc;
  margin-bottom: 0;
}

.passive-skills {
  position: fixed;
  width: 170px;
  bottom: 10px;
  /* right: -160px; */
  right: 10px;
  transition: all 1s ease
}

.passive-skills__skill {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
  padding-top: 6px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 45px;
}

.passive-skills__skill[data-name="hp"] {
  background-image: url('/assets/bg_passive_hp.png');
}

.passive-skills__skill[data-name="speed"] {
  background-image: url('/assets/bg_passive_speed.png');
}

.passive-skills__skill[data-name="defense"] {
  background-image: url('/assets/bg_passive_defense.png');
}

.passive-skills__skill[data-name="cooldown"] {
  background-image: url('/assets/bg_passive_cooldown.png');
}

.passive-skills__skill span {
  min-width: 30px;
  color: white;
  font-size: 20px;
  margin-top: 3px;
}

.passive-skills__skill img {
  height: 35px;
  width: 35px;
  margin-top: 5px;
  margin-right: 17px;
  margin-left: 19px;
  transition: all .25s ease;
  cursor: pointer;
}

.passive-skills__skill img:hover {
  transform: scale(1.1);
}

.passive-skills__skill--red {
  background: red;
}

.passive-skills__skill--violet {
  background: violet
}

.passive-skills__skill--blue {
  background: blue
}

.passive-skills__skill--greenyellow {
  background: greenyellow
}

.passive-skills__skill--lightblue {
  background: #7F92FF
}

.passive-skills__skill--gray {
  background: #ccc
}

.active-skills {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 30vw;
}

.active-skills__skill {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.active-skills__skill p {
  margin-bottom: 5px;
}

.active-skills__cooldown {
  opacity: .25
}

.health-bar {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 71px;
  width: 71px;
  border-radius: 50%;
  border: 2px solid #E3D4D4;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  /* background: linear-gradient(180deg, white 0%, white 25%, #AA0300 25%, #DB1B04 100%); */
}

.effects {
  min-width: 180px;
  position: fixed;
  top: 10px;
  left: 100px;
}

.effects img {
  margin: 0 5px;
}

.effects__buffs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  background-image: url('/assets/effects_buffs.svg');
  background-repeat: no-repeat;
  height: 50px
}

.effects__debuffs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  background-image: url('/assets/effects_debuffs.svg');
  background-repeat: no-repeat;
  height: 50px
}

.skins {
  position: fixed;
  left: 0;
  right: 0;
  top: 40%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.skins__controls {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;
  background: #eee;
  border-radius: 10px;
}

.skins label {
  margin: 0 10px;
}

.skins input {
  margin-left: 15px;
}

.skins__btn {
  margin: 10px;
  width: 100px;
}

.skins p {
  margin-bottom: 0;
}

.weapons {
  position: fixed;
  bottom: 10px;
  z-index: 5;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #play-menu {
    padding: 10px 15px;
    min-width: 280px;
  }

  #disconnect-modal > div {
    padding: 10px;
    min-width: 280px;
  }

  #leaderboard th {
    padding: 0 3px;
  }

  #leaderboard td {
    padding: 0 3px;
  }

  #leaderboard table {
    font-size: 14px;
  }
}
