html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;

  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

hr {
  width: 100%;
}

button {
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

button:hover {
  /*background-color: rgb(230, 230, 230);*/
  background: #784882;
}

button:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

.svg__bullet {
  fill: #fff !important;
}

#game-canvas {
  width: 100%;
  height: 100%;
}

#play-menu {
  background: linear-gradient(180deg, #643070 0%, #CCAACE 100%);
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#play-menu h1 {
  margin-bottom: 30px;
}

#play-menu p {
  margin-bottom: 0;
}

#play-menu input {
  background: transparent;
  color: white;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
  padding: 3px;
  text-align: center;
}

::placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
  opacity: 1;
}

#play-menu input:hover {
  outline: none;
}

.play-menu__controls {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.play-menu__controls button {
  color: white;
  text-transform: none;
}

.play-menu__statistic {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  margin: 10px 0;
  flex-direction: column;
  align-items: center;
}

#leaderboard {
  position: fixed;
  top: 10px;
  right: -225px;
  padding: 10px;
  font-weight: bold;
  color: white;
  background: linear-gradient(355.31deg, rgba(186, 118, 189, 0.46) 0.11%, rgba(128, 69, 137, 0.780876) 58.14%, #592365 97.77%);
  border-radius: 5px;
  transition: all 1s ease
}

#leaderboard th {
  text-align: center;
  padding: 2px 5px;
}

#leaderboard td {
  text-align: center;
  padding: 2px 5px;
}

#disconnect-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#disconnect-modal > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 15px 20px;
  background: linear-gradient(180deg, #5F2A6B 0%, #CDABCE 100%);
  border-radius: 5px;
  text-align: center;
}

#disconnect-modal hr {
  color: white;
  background: white;
}

#disconnect-modal h2 {
  color: white;
}

#disconnect-modal button {
  color: white;
}

.experience {
  position: fixed;
  display: flex;
  bottom: -100px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px;
  transition: all 1s ease;
}

.experience .experience__score {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 350px;
  font-size: 20px;
}

.experience .experience__current {
  border: 1px solid rgba(0, 0, 0, .9);
  border-radius: 15px;
  width: 350px;
  height: 25px;
  display: flex;
  justify-content: center;
}

.experience p {
  font-weight: bold;
  color: #cccccc;
  margin-bottom: 0;
}

.passive-skills {
  position: fixed;
  width: 170px;
  bottom: 10px;
  right: -160px;
  /* right: 10px; */
  transition: all 1s ease
}

.passive-skills__skill {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
  padding-top: 6px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 45px;
}

.passive-skills__points {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: 20px;
  color: white;
}

.passive-skills__points span {
  padding: 2px 10px;
  border-radius: 5px;
  background: linear-gradient(355.31deg, rgba(186, 118, 189, 0.46) 0.11%, rgba(128, 69, 137, 0.780876) 58.14%, #592365 97.77%);
}

.passive-skills__skill[data-name="hp"] {
  background-image: url('/assets/bg_passive_hp.png');
}

.passive-skills__skill[data-name="speed"] {
  background-image: url('/assets/bg_passive_speed.png');
}

.passive-skills__skill[data-name="defense"] {
  background-image: url('/assets/bg_passive_defense.png');
}

.passive-skills__skill[data-name="cooldown"] {
  background-image: url('/assets/bg_passive_cooldown.png');
}

.passive-skills__skill span {
  min-width: 30px;
  color: white;
  font-size: 20px;
  margin-top: 3px;
}

.passive-skills__skill img {
  height: 35px;
  width: 35px;
  margin-top: 5px;
  margin-right: 17px;
  margin-left: 19px;
  transition: all .25s ease;
  cursor: pointer;
}

.passive-skills__skill img:hover {
  transform: scale(1.1);
}

.passive-skills__skill--red {
  background: red;
}

.passive-skills__skill--violet {
  background: violet
}

.passive-skills__skill--blue {
  background: blue
}

.passive-skills__skill--greenyellow {
  background: greenyellow
}

.passive-skills__skill--lightblue {
  background: #7F92FF
}

.passive-skills__skill--gray {
  background: #ccc
}

.active-skills {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: fixed;
  bottom: 10px;
}

.active-skills__skill {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.active-skills__skill img {
  height: 60px;
  width: 60px;
}

.active-skills__skill p {
  margin-bottom: 5px;
}

.active-skills__skill[data-name="first_skill"] {
  position: fixed;
  left: calc(50vw + 230px);
  bottom: -100px;
  transition: all 1s ease
}

.active-skills__skill[data-name="second_skill"] {
  position: fixed;
  left: calc(50vw - 277px);
  bottom: -100px;
  transition: all 1s ease
}

.active-skills__skill[data-name="ultra_skill"] {
  position: fixed;
  left: calc(50vw + 280px);
  bottom: -100px;
  transition: all 1s ease
}

.active-skills__cooldown {
  opacity: .25
}

.health-bar {
  position: fixed;
  left: -100px;
  top: 10px;
  height: 71px;
  width: 71px;
  border-radius: 50%;
  border: 2px solid #E3D4D4;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  transition: all 1s ease
}

.effects {
  min-width: 180px;
  position: fixed;
  /* top: 10px; */
  top: -100px;
  left: 100px;
  transition: all 1s ease
}

.effects img {
  margin: 0 5px;
}

.effects__buffs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  background-image: url('/assets/effects_buffs.svg');
  background-repeat: no-repeat;
  height: 50px
}

.effects__debuffs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  background-image: url('/assets/effects_debuffs.svg');
  background-repeat: no-repeat;
  height: 50px
}

.skins {
  position: fixed;
  left: calc(50vw - 290px);
  top: 130px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #5F2A6B 0%, #CDABCE 100%);
}

.skins__controls {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.skins__radio {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.skins .skins__radio--active img {
  background: green;
  border-radius: 15px;
}

.skins label {
  margin: 0 10px;
}

.skins input {
  margin-left: 15px;
}

.skins__btn {
  margin: 10px;
  width: 100px;
  color: white;
}

.skins p {
  margin-bottom: 0;
}

.skins img {
  width: 64px;
  height: 64px;
  background: linear-gradient(180deg, #F1E6E1 0%, #CDC6C5 100%);
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
}

.skins img:hover {
  /*transform: scale(1.1);*/
  transition: all .25s ease;
}

.weapons {
  position: fixed;
  bottom: -100px;
  left: 10px;
  z-index: 5;
  transition: all 1s ease;
}

.weapons__weapon {
  margin: 0 5px;
  height: 40px;
  width: 64px;
}

.weapons__weapon img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all .5s ease;
}

.weapons__skill {
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.weapons__skill img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all .5s ease;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #play-menu {
    padding: 10px 15px;
    min-width: 280px;
  }

  #disconnect-modal > div {
    padding: 10px;
    min-width: 280px;
  }

  #leaderboard th {
    padding: 0 3px;
  }

  #leaderboard td {
    padding: 0 3px;
  }

  #leaderboard table {
    font-size: 14px;
  }
}
