@import url('../css/active_skills.css');
@import url('../css/disconnect_modal.css');
@import url('../css/effects.css');
@import url('../css/experience.css');
@import url('../css/guide.css');
@import url('../css/health_bar.css');
@import url('../css/leaderboard.css');
@import url('../css/notification.css');
@import url('../css/passive_skills.css');
@import url('../css/play_menu.css');
@import url('../css/skins.css');
@import url('../css/weapons.css');
@import url('../css/contact.css');

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;
}

hr {
  width: 100%;
}

button {
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

button:hover {
  /*background-color: rgb(230, 230, 230);*/
  background: #784882;
}

button:focus {
  outline: none;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.hidden {
  display: none !important;
}

.select-none {
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

#game-canvas {
  width: 100%;
  height: 100%;
}

::placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
  opacity: 1;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #play-menu {
    padding: 10px 15px;
    min-width: 280px;
  }

  #disconnect-modal > div {
    padding: 10px;
    min-width: 280px;
  }

  #leaderboard th {
    padding: 0 3px;
  }

  #leaderboard td {
    padding: 0 3px;
  }

  #leaderboard table {
    font-size: 14px;
  }
}
