.play-menu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.play-menu > div {
  background: linear-gradient(180deg, #643070 0%, #ccaace 100%);
  color: white;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

.play-menu > div h1 {
  margin-bottom: 30px;
}

.play-menu > div p {
  margin-bottom: 0;
}

.play-menu > div input {
  background: transparent;
  color: white;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
  padding: 3px;
  text-align: center;
}

.play-menu > div input:hover {
  outline: none;
}

.play-menu__controls {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: center;
}

.play-menu__controls button {
  cursor: pointer;
  color: white;
  text-transform: none;
}

.play-menu__statistic {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  margin: 10px 0;
  flex-direction: column;
  align-items: center;
}
