.skins {
  display: flex;
  justify-content: center;
  padding: 0 4px;
}

.skins__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.skins__radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 0;
}

.skins .skins__radio--active img {
  background: #6d9c00;
  border-radius: 15px;
}

.skins label {
  margin: 0 2px;
}

.skins input {
  margin-left: 15px;
}

.skins__btn {
  margin: 10px;
  width: 100px;
  color: white;
}

.skins p {
  margin-bottom: 0;
}

.skins img {
  width: 64px;
  height: 64px;
  background: linear-gradient(180deg, #f1e6e1 0%, #cdc6c5 100%);
  border-radius: 8px;
  margin: 4px 0;
  cursor: pointer;
}

.skins img:hover {
  /*transform: scale(1.1);*/
  transition: all 0.25s ease;
}
